// bower:scss
// endbower

@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import 'd3-tip';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "open sans hebrew";
  font-weight: normal;
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 4px solid #808080;
  font-size: 80%;

  p {
    margin-bottom: 5px;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}
.arrow_box:before {
  border-color: rgba(128, 128, 128, 0);
  border-bottom-color: #808080;
  border-width: 26px;
  margin-left: -26px;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 100px;
}

.right-col {
  width:240px;
  padding:0px;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index:1;
  right:10px;
  overflow-y: scroll;
  overflow-x: visible;

  select {
    background-color: #cceaf6;
    color: #323232;
  }

  .filters {
    padding-right: 10px;
    select {
      width:220px;
    }
    .slider {
      .slider-track {
        height:3px;
        background: #033c69;
      }
      .slider-selection {
        background: #009ad5;
      }
      .slider-handle {
        background: #033c69;
        width:14px;
        height:14px;
        margin-top:-6px;
        margin-left:-7px;


        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        font-size:9px;
        color:#EDC02B;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &.min-slider-handle:before {
          content: "\e250";
          position: relative;
          top:2px;
          left: -2px;
        }

        &.max-slider-handle:before {
          content: "\e251";
          position: relative;
          top:2px;
          left: -2.5px;
        }
      }
      position: relative;
      top: -40px;
      width: 220px;
    }
    .volumeLabel {
      width:220px;
      height:34px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #cceaf6;
      padding-top:8px;
      padding-right:8px;
      margin-top:15px;
    }
  }

  //.excel, .excel.open {
  //  //display: inline-block;
  //  //position:relative;
  //  //width:18px;
  //  //height:18px;
  //  padding-left:40px;
  //  background-image: url("../images/exportExcel.png") !important;
  //  background-position: left center;
  //  background-repeat: no-repeat;
  //  background-color: #cceaf6;
  //}

  .searchResults {
    .searchResultsBtn {
      background-image: url("../images/exportExcel.png") !important;
      background-position: left center;
      background-repeat: no-repeat;
      float:left;
      width:48px;
      cursor:pointer;
    }
    font-size: 16px;
    color: #033c69;
    font-weight: bold;
    line-height: 36px;
    width: 220px;
  }

  .multiselect-container>li>a>label {
    padding-right: 5px;
  }
  button.multiselect {
    background-color: #cceaf6;
    color: #323232;
    width:220px;
    text-align: right;

    .caret {
      float:right;
      margin-top: 8px;
      margin-right: -6px;
      margin-left: 9px;
    }
  }

  .visualization-select {

    min-height:32px;
    margin-bottom:10px;

    select {
      width:50%;
      float:left;
      margin-left:20px;
    }

    strong {
      display:inline-block;
      padding-top:6px;
    }

  }

  input {
    background-color:#cceaf6;
    color: #323232;
    width:220px !important;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #323232;
    padding: 0;
    margin:0;
    margin-top:10px;
    margin-bottom:10px;
    width: 240px;
  }

  #pieChart {
    text {
      stroke: #033c69;
      size: 11px;
    }
  }
}

.left-col {
  width:730px;
  position:fixed;
  top:0px;
  right:263px;
  //margin-right: 250px;
  padding: 90px 10px 10px;
  overflow-y: scroll;
  height: 100%;
}

.upper-text {
  font-size: 14px;
  color: #fff;
  background-color: #009ad5;
  position:fixed;
  width:710px;
  height:100px;
  overflow-x: hidden;
  padding: 10px;
  margin-top: -90px;
  z-index:1;
  //border-top: 10px solid white;
  right:268px;
  //margin-bottom:10px;
}

.table {

  z-index: -1;
  //margin-left:5px;
  //margin-right:5px;
  width:700px;
  table-layout: fixed;
  //margin-right:0px;

  tbody {
    margin-top: 200px;
    width:700px;

    cursor:pointer;

    tr:nth-child(odd) {
      background-color: #e6e6e6;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:first-child {
      background-color: transparent;
      td {
        margin-top:10px;
      }
    }

    tr:nth-child(2) {
      td {
        border-top: none;
      }
    }

    tr {
      td {
        border-bottom: none;
        border-top: none;
      }

      &:hover {
        background-color: #dbe3e6;
      }

      &:nth-child(even):hover {
        background-color: #e1e8ea;
      }
    }

    td {
      min-width: 70px;
      font-size: 12px;
    }
  }

  thead {
    position: fixed;
    background-color: #033c69;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin-top:0;
    margin-right:-5px;
    width:710px;
    z-index:1;
    right:273px;

    th {
      min-width: 65px;
      border-bottom: none !important;
      font-size: 12px;
      font-weight: 500;
    }
  }

  td[colspan="8"] {
    background-color: #cceaf6;

    .card, .card-heading, .card-body {
      background-color: transparent;
      border: none;
    }

    .card-heading {
      padding:0px;
      padding-right: 18px;
      background-image: url("../images/titleImage.png");
      background-position: right center;
      background-repeat: no-repeat;

      h4 {
        font-size: 16px;
        color: #033c69;
        font-weight: bold;
        margin:0px;
        margin-bottom:2px;

        .updateDate {
          float: left;
          font-size: 10px;
          vertical-align: text-bottom;
          color: #009ad5;
          &:before {
            content: " ";
            font-size: 16px;
          }
        }
      }

      span {
        font-weight: normal;
        font-size: 12px;
        color: #000;
        margin-right:30px;
        margin-left:30px;
      }

      span:nth-child(2) {
        margin-right: 0px;
      }
    }

    .card-body {

      padding:0px;

      h4 {
        padding-right: 12px;
        background-image: url("../images/yellowPoint.png");
        background-position: right center;
        background-repeat: no-repeat;
        font-size: 14px;
        font-weight: bold;
        margin-bottom:2px;
        color: #033c69;
      }

      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #95d1ed;
        padding: 0;
        margin:0;
        margin-top:6px;
      }

      p {
        margin-bottom: 1px;
      }

    }
  }
}

select {
  font-size: 14px;
  color: #323232;
}

.hasadna-logo {
  position:fixed;
  left: 0px;
  bottom: 0px;
  margin:2px;
  background-image: url("../images/hasadna-logo-light340.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left:160px;
  font-size:12px;
  color:#323232;
  background-color: #fff;
  opacity: 0.8;
  cursor:pointer;
}
